:root {
    --query-color: rgb(33, 155, 119);
    --other-color: rgb(192, 85, 25);
}

a:not([class]) {
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: underline;
}


/* Index page */

.disabled {
    opacity: 0.4;
}


.list-group-item {
    padding: 0.5rem 0.5rem;
}

/* Results page */

html, body, .container-fluid {
    height: 100%;
}

#table {
    padding-bottom: 300px;
}

tr {
    border-color: lightgray;
}

#table tr:last-child td {
    border-bottom-width: 1px;
}

#resize_wrapper {
    position: relative;
    height: 95%;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    overflow-y: scroll !important;
}

img {
    width: 100px;
    height: 100px;
}

tbody .small_padding {
    padding: 5px !important;
}

.zoom:hover img {
    transform: scale(4) translate(-65%, 37%);
    border: 1px solid grey;
    background: white;
}

.zoom-text {
    display: none;
}

.zoom:hover .zoom-text {
    display: block;
    position: absolute;
    text-decoration: underline;
    padding: 0.75rem
}