<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ProteinSearch">
    <title>Protein Chain Similarity Search - Details (query chain {{ query_chain }} and {{ object }})</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='litemol/css/LiteMol-plugin-light.min.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
</head>

<body>

{% set pdb_id, chain_id = object.split(':') %}

<div class="container p-3">
    <div class="row">
        <div class="col">
            <a class="h1 text-dark card-link font-weight-bold mr-5" style="display: inline"
               href="{{ url_for('index') }}">Protein Chain Similarity Search</a>
            <h3 class="text-secondary" style="display: inline">Details</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            Details about the superposition of query chain <span class="font-weight-bold">{{ query_chain }}</span>
            and {{ object }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="litemol" style="margin-top:100px; height:600px; position: relative"></div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='litemol/LiteMol-plugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
