<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ProteinSearch">
    <title>Protein Chain Similarity Search - Details of {{ query }} and {{ obj_stats['object'] }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='litemol/css/LiteMol-plugin-light.min.css') }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
</head>

<body>

<div class="container p-3">
    <div class="row">
        <div class="col">
            <a class="h1 text-dark card-link font-weight-bold mr-5" style="display: inline"
               href="{{ url_for('index') }}">Protein Chain Similarity Search</a>
            <h3 class="text-secondary" style="display: inline">Details</h3>
        </div>
    </div>
    <hr>
    <div class="row flex-fill">
        <div class="col d-flex flex-column">
            <div id="resize_wrapper">
                <table class="table table-striped table-bordered" style="width:100%; font-size: 14px" id="table">
                    <caption class="h5" style="caption-side: top">Query: <span id="query">{{ query }}</span>
                        {% if query_title is none %}
                            <span class="ml-3" style="font-size: 16px">(uploaded structure)</span>
                        {% else %}
                            <a href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{ query.split(':')[0] }}" target="_blank"
                               rel="noreferrer" class="ml-3" style="font-size: 16px"> {{ query_title }}</a>
                        {% endif %}
                    </caption>
                    <thead>
                    <tr>
                        <th>Chain ID</th>
                        <th>Protein (link to PDBe)</th>
                        <th>Q-score</th>
                        <th>RMSD</th>
                        <th>Aligned res.</th>
                        <th>Seq. identity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="other">{{ obj_stats['object'] }}</td>
                        <td><a href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{ obj_stats['object'].split(':')[0] }}"
                               target="_blank" rel="noreferrer">
                            <div style="max-width: 600px">{{ obj_title }}</div>
                        </a></td>
                        <td>{{ obj_stats['qscore'] }}</td>
                        <td>{{ obj_stats['rmsd'] }}</td>
                        <td>{{ obj_stats['aligned'] }}</td>
                        <td>{{ obj_stats['seq_id'] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col" style="font-weight: bold">
            <span style="color: var(--query-color)">{{ query }} (query)</span>
            <span class="ml-5" style="color: var(--other-color)">{{ obj_stats['object'] }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="litemol" style="height:600px; position: relative"></div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='litemol/LiteMol-plugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
