<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ProteinSearch">
    <title>Protein Chain Similarity Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="container p-3">
    <div class="row">
        <div class="col">
            <h1>Protein Chain Similarity Search</h1>
        </div>
    </div>
    <hr>

    {% set selected = selected | default(False, True) %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger mt-1 alert-dismissible fade show" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post" enctype="multipart/form-data" action="{{ url_for('index') }}">
        <div class="row pt-5">
            <div class="col">
                <fieldset id="fs-input" {% if selected %} disabled {% endif %}>
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Select by PDB ID</h5>
                                <p class="card-text">Select indexed chain by PDB ID.</p>
                                <div class="row pb-2">
                                    <div class="col">
                                        <label class="col-form-label" for="pdbid">
                                            PDB ID:
                                        </label>
                                    </div>
                                    <div class="col">
                                        <input class="form-check-inline" type="text" size="8" id="pdbid" name="pdbid">
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col-2">
                                        <input class="btn btn-primary" type="submit" id="select_pdb_id"
                                               name="select_pdb_id" value="Select" disabled>
                                    </div>
                                    <div class="col">
                                        <input class="btn btn-primary" type="submit" id="select_random"
                                               name="select_random" value="Select random">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">File upload</h5>
                                <p class="card-text">Upload single PDB or mmCIF file.</p>
                                <div class="row pb-2">
                                    <div class="col">
                                        <input class="form-check" type="file" name="file" id="file" accept=".pdb, .cif">
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col">
                                        <input class="btn btn-primary" type="submit" id="upload" name="upload" value="Upload" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('search', comp_id=comp_id) }}">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <fieldset id="fs-chains" {% if not selected %} disabled {% endif %}>
                            <h5 class="card-title">Detected chains {% if selected %} for {{ input_name }} {% endif %}</h5>
                            <div class="row pb-2">
                                <div class="col-2">
                                    <label class="col-form-label" for="chain">Chains: </label>
                                </div>
                                <div class="col">
                                    <select class="form-control form-check-inline w-auto" name="chain">
                                        {% for id in chains | default([], True) %}
                                            <option value="{{ id }}">{{ id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <fieldset id="fs-settings" {% if not selected %} disabled {% endif %}>
                            <h5 class="card-title">Search settings</h5>
                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="qscore-range">Minimum Q-score: </label>
                                </div>
                                <div class="col">
                                    <input class="form-check" type="number" name="qscore-range" value="0.5"
                                           min="0.3" max="1.0" step="0.1" id="qscore-range">
                                </div>
                                <div class="col">
                                    <label class="col-form-label" for="num-results">Number of results: </label>
                                </div>
                                <div class="col">
                                    <input class="form-check" type="number" name="num-results" value="50"
                                           min="10" max="200" step="10" id="num-results">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="comp-id" id="comp-id" value="{{ comp_id }}">
        <input type="hidden" name="input-name" id="input-name" value="{{ input_name }}">
        <input type="hidden" name="uploaded" id="uploaded" value="{{ uploaded }}">

        <div class="row pt-4">
            <div class="col">
                <input class="btn btn-success" type="submit" id="run" value="Run" {% if not selected %}
                       disabled {% endif %}>
                <a class="btn btn-dark" href="{{ url_for('index') }}">Reset</a>
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>
