{% extends 'base/base.html' %}

{% block styles %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block body %}
    <div class="modal fade" id="protein_select_window" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select protein</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y:auto;">
                    <div class="list-group" id="pdbs">
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="status" class="me-auto"></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-3" style="max-width: 1200px">
        <div class="row">
            <div class="col">
                <a class="h1 text-dark card-link fw-bold text-decoration-none" style="display: inline"
                   href="{{ url_for('index') }}">
                    Protein Chain Similarity Search
                </a>
            </div>
        </div>

        {% set selected = selected | default(False, True) %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger mt-1 alert-dismissible fade show" role="alert">{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row pt-2">
            <div class="col">
                <p class="lead">
                    Search for the most similar protein chains to a given query chain. <br>
                </p>
                Indexed {{ chain_count }} chains from {{ protein_count }} proteins downloaded from <a
                    href="http://pdbe.org/" rel="noreferrer" target="_blank">PDBe</a>.
                Last update: {{ updated }}.
            </div>
        </div>
        <hr>

        <div class="row pb-2 {% if selected %} disabled {% endif %}">
            <div class="col">
            <span class="h4">
                {% if selected %}
                    <i class="bi bi-check me-3"></i>
                {% else %}
                    <i class="bi bi-arrow-right me-3"></i>
                {% endif %}
                1. Select protein
            </span>
                <i class="bi bi-info-circle" title="Choose one of the four options."></i>
            </div>
        </div>

        <form method="post" id="protein_form" enctype="multipart/form-data" action="{{ url_for('index') }}"
              class="{% if selected %} disabled {% endif %}">
            <div class="row">
                <div class="col">
                    <fieldset id="fs-input" {% if selected %} disabled {% endif %}>
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">PDB ID</h5>
                                    <p class="card-text">Select indexed chain by PDB ID.</p>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12 pb-2 col-lg-2 pb-lg-0">
                                                <label class="col-form-label" for="pdbid"> PDB ID: </label>
                                            </div>
                                            <div class="col-12 pb-2 col-lg-6 pb-lg-0">
                                                <input class="form-control" type="text" size="20" id="pdbid"
                                                       name="pdbid" placeholder="4-letter code (e.g., 12AS) ">
                                            </div>
                                            <div class="col-12 pb-2 col-sm-12 col-lg-3 pb-lg-0 form-inline">
                                                <button class="form-control btn btn-primary" type="submit"
                                                        id="select_pdb_id" name="select_pdb_id" disabled>Select
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">File upload</h5>
                                    <p class="card-text">Upload single PDB or mmCIF file.</p>
                                    <div class="form-inline">
                                        <div class="row form-group">
                                            <div class="col-12 pb-2 pb-lg-0 col-lg-8">
                                                <input class="form-control-file" type="file" name="file" id="file"
                                                       accept=".pdb, .cif">
                                            </div>
                                            <div class="col-12 pb-2 pb-lg-0 col-lg-3 form-inline">
                                                <button class="btn btn-primary form-control" type="submit" id="upload"
                                                        name="upload" disabled>Upload
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <fieldset id="fs-search" {% if selected %} disabled {% endif %}>
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Search</h5>
                                    <p class="card-text">Search for indexed proteins by title.</p>
                                    <div class="row">
                                        <div class="col-12 pb-2 pb-xl-0 col-xl-2 form-inline">
                                            <label class="col-form-label" for="search_phrase">Phrase: </label>
                                        </div>
                                        <div class="col-12 pb-2 pb-xl-0 col-lg-4 col-xl-7 form-inline">
                                            <input class="form-control" type="text" id="search_phrase"
                                                   name="search_phrase" size=20
                                                   placeholder="Enter at least 3 characters">
                                            <div class="invalid-tooltip">
                                                Insert only alphanumeric characters or spaces.
                                            </div>
                                        </div>
                                        <div class="col-12 pb-2 pb-xl-0 col-lg-4 col-xl-3 form-inline">
                                            <button type="button" id="search_pdb" class="btn btn-primary form-control"
                                                    disabled style="min-width: 80px"> Search
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Random</h5>
                                    <p class="card-text">Let application offer a few proposals.</p>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12">
                                            <button type="button" class="btn btn-primary form-control"
                                                    id="select_random"> Offer random
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>

        <div class="row pb-2 pt-3 {% if not selected %} disabled {% endif %}">
            <div class="col">
            <span class="h4">
                 {% if selected %}
                     <i class="bi bi-arrow-right me-3"></i>
                 {% endif %}
                2. Select chain
            </span>
                <i class="bi bi-info-circle" title="Only protein chains with at least 10 residues are shown."></i>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data" action="{{ url_for('search', job_id=job_id) }}">
            <div class="row {% if not selected %} disabled {% endif %}">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <fieldset id="fs-chains" {% if not selected %} disabled {% endif %}>
                                <h5 class="card-title">Detected chains {% if selected %} of
                                    <b>{{ input_name }} </b> having at least 10 residues {% endif %} </h5>
                                <p class="card-text"> {% if name is defined %} {{ name }} {% endif %} </p>
                                <div class="row">
                                    <div class="col-2 col-lg-1">
                                        <label class="col-form-label" for="chain">Chains: </label>
                                    </div>
                                    <div class="col-12 col-sm-9 form-inline">
                                        <select class="form-control selectpicker" name="chain" id="chain"
                                                data-show-subtext="true">
                                            {% for id, size in chains | default([], True) %}
                                                <option value="{{ id }}"
                                                        data-subtext="(size: {{ size }})">{{ id }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-2 pt-3 {% if not selected %} disabled {% endif %}">
                <div class="col">
                <span class="h4">
                     {% if selected %}
                         <i class="bi bi-arrow-right me-3"></i>
                     {% endif %}
                    3. Settings
                </span>
                    <i class="bi bi-info-circle"
                       title="Modify search settings. Note that low value of minimum Q-score may negatively impact the performance of the search."></i>
                </div>
            </div>

            <div class="row {% if not selected %} disabled {% endif %}">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <fieldset id="fs-settings" {% if not selected %} disabled {% endif %}>
                                <div class="row">
                                    <div class="col col-12 col-md-8 col-lg-4 pb-md-2 pb-lg-0">
                                        <label class="col-form-label" for="qscore_range">Minimum Q-score: </label>
                                    </div>
                                    <div class="col col-12 col-md-4 col-lg-2 pb-md-2 pb-lg-0">
                                        <input class="form-control" type="number" name="qscore_range" value="0.5"
                                               min="0.3" max="1.0" step="0.1" id="qscore_range">
                                    </div>
                                    <div class="col col-12 col-md-8 col-lg-4 pb-md-2 pb-lg-0">
                                        <label class="col-form-label" for="num_results">Maximum number of
                                            results: </label>
                                    </div>
                                    <div class="col col-12 col-md-4 col-lg-2 pb-md-2 pb-lg-0">
                                        <input class="form-control" type="number" name="num_results" value="30"
                                               min="10" max="5000" step="10" id="num_results">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-12 col-sm-4 col-md-3 col-xl-2 pb-2 pb-sm-0">
                    <button class="btn btn-success form-control" type="submit" id="run" {% if not selected %}
                            disabled {% endif %}><i class="bi bi-search me-1"></i> Run search
                    </button>

                </div>
                <div class="col-12 col-sm-3 col-lg-2 ms-auto pb-2 pb-sm-0 float-end">
                    <a class="btn btn-dark form-control" href="{{ url_for('index') }}">Reset form</a>
                </div>
            </div>

            <input type="hidden" name="input_name" id="input_name" value="{{ input_name }}">
            <input type="hidden" name="uploaded" id="uploaded" value="{{ uploaded }}">

        </form>
    </div>

{% endblock body %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/gh/farhadmammadli/bootstrap-select@main/js/bootstrap-select.min.js"></script>
{% endblock scripts %}
